<!-- ✅ Only render tabs in the browser -->
<ng-container *ngIf="isBrowser">
  <div class="tabs-container">
    <ul class="tab-headers">
      <li
        *ngFor="let tab of tabs; index as i"
        [class.active]="i === activeIndex()"
        (click)="setActive(i)"
      >
        {{ tab.title }}
      </li>
    </ul>
    <div class="tab-content">
      {{ tabs[activeIndex()].content }}
    </div>
  </div>
  <!-- Insert shipping options component right after filters -->
    <app-shippingoption></app-shippingoption>
</ng-container>
