.product-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.product-image {
  max-width: 300px;
  border-radius: 12px;
}

.color-options,
.storage-options {
  display: flex;
  flex-wrap: wrap;  
  gap: 0.5rem;  
  justify-content: flex-start;  
  margin-top: 20px;
  margin-left: 0;
  width: 100%;  
}

.btn {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 100px;  
  text-align: center; 
}

.btn:hover {
  background-color: #222;
  transform: scale(1.05);
}

.default-selected {
  background-color: black;
  color: white;
}

.white-btn {
  background-color: white;
  color: black;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;  
  margin-top: 20px;
}

h1 {
  margin-bottom: 0.5rem;
}

.rating {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.description,
.price-range {
  font-size: small;
  margin-bottom: 0.75rem;
}

.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;  
}

label {
  display: inline-block;
  margin-right: 0.5rem;
}


@media (max-width: 768px) {
  .product-header {
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    max-width: 80%;
    margin-bottom: 1rem;  
  }

  .color-options,
  .storage-options {
    justify-content: center;  
    width: 100%;  
  }

  .btn {
    width: auto; 
    min-width: 80px; 
    padding: 8px 20px;  
  }

  .filters {
    flex-direction: column;
    align-items: center;
    width: 100%;  
  }

 
  .storage-options {
    margin-bottom: 20px;
  }

  .product-details {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}
