<div class="product-header">
  <img [src]="product.imageUrl" alt="iPhone 16 Pro Max" class="product-image" />
  <div class="product-details">
    <h1>{{ product.name }}</h1>
    <p class="rating">
      <i class="fas fa-star"></i>&nbsp;{{ product.rating }} &nbsp; | &nbsp;<i class="fa-solid fa-bell"></i> &nbsp; Monitor Price &nbsp;  | &nbsp; <i class="fa-solid fa-scale-balanced"></i>  &nbsp; Compare
    </p>
    <p class="description">{{ product.description }}</p>
    <p class="price-range">Compare prices from SEK {{ product.priceRange.min }} to SEK {{ product.priceRange.max }}</p>
    <div class="filters">
      <div class="storage-options">
        <label *ngFor="let option of product.storageOptions">
          <button class="btn">{{ option }}</button>
        </label>
      </div>
      <div class="color-options">
        <label *ngFor="let color of product.colorOptions">
          <button class="btn"> {{ color }} </button>
        </label>
      </div>
    </div>
  </div>
</div>