.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}


.header-layout {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}


app-image-sidebar {
  width: 100px;
}


app-product-header {
  flex: 1;
}
