<div class="filter-bar">
  <i class="fa-regular fa-sliders-simple icon"></i>

  <button class="btn active">Out Of Stock</button>
  <button class="btn">Price with Shipping</button>

  <select class="btn">
    <option disabled selected>Delivery Option</option>
    <option value="homedelivery">Home Delivery</option>
    <option value="storecollection">Store Collection</option>
  </select>

  <select class="btn">
    <option disabled selected>Recommended</option>
    <option value="1">HD</option>
    <option value="2">SC</option>
  </select>
</div>
